h1{
    /* r g b */
    /* 0->9 -> a->f */
    /* color:#ff0000; */
    /* 0 ->225 */
    color:rgb(255,0,0);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 30px;
}

/* universal selector */
*{
    /* color: green;
    text-transform: uppercase; */
    margin: 0;
    padding: 0;
}

/* tag selector or element selector */
h2{
    color: red;
    text-align: center;
}

/* attribue selector */
a[title="google"]{
  color: red;
  text-decoration: none;  
}

/* id selector */
#idselector{
    color: brown;
    line-height: 30px;
    letter-spacing: 20px;
    text-indent: 50px;
    font-style: italic;
    text-transform: capitalize;
}

/* class selector */
.classselector{
    color: red;
    word-spacing: 30px;
    font-size: 24px;
    letter-spacing: 10px;
    line-height: 25px;
}

/* desc selector */
.desc a{
    color: red;
}

/* child selector */
.child>a{
    color: red;
}

/* pseudo */
a:link{
    color: red;
    letter-spacing: 5px;
}
a:hover{
    color: yellow;
}
a:active{
    color: green;
}
a:visited{
    color: brown;
}


/* target */
:target{
    color: red; 
    border: 1px solid black;
    letter-spacing: 10px;
}

.borderone{
    border: 10px dashed red;
}

.bordertwo{
    border-top: 20px solid yellow;
    border-left: 20px solid red;
}

.borderthree{
    /* border-style: solid;
    all four
    border-style: solid dashed;
    T&B / L&R */
    /* border-style: dashed solid dotted;
    T / L&R / B */
    border-style: dotted double solid dashed;
    /* T / R /B / L */
}

.borderwidth{
    border-width: 20px 5px 10px 30px ;
    border-style: dotted;
    border-color: red yellow;
}

/* Margin */
.margin{
    border: 3px solid red;
    /* margin: 40px; */
    margin-top: 100px;
}

.padding{
    border: 2px solid;
    /* padding: 40px 100px; */
    padding-top: 40px;

}

/* layout */
.inline{
    border: 2px solid red;
    width: 300px;
    display:inline-block;

}
.block{
    border: 2px solid black;
    width: 300px;
    display: inline-block;
}

.float_left img{
    width: 40%;
    float: left;
}

.clear{
    clear: both;
}
.float_right img{
    width: 40%;
    float: right;
}